%p
-if current_user.author?
  .center
    %h2.fine.blue.lower
      Your Projects
  %p
  .text-right
    %a.button{:href=>new_project_path()} 
      Add A Project

  -current_user.projects.each do |project|

    .row.whitewash
      .small-12.large-12.large-centered.column
        .center
          %h2.fine.blue.lower
            %a{:href=>edit_project_path(project)}
              =project.name
          .upper.blue
            -if project.test_deadline.present?
              Deadline:
              =nice_date(project.test_deadline.localtime) 
              (

              =(project.test_deadline.to_date - Date.today).to_i
              days left
              )
        %p
        .center
          %a.button{:href=>new_recipe_path()+"?project_id="+project.id.to_s} 
            Add A Recipe

        -if project.recipes.present?

          .row
            .small-12.large-6.column.whitewash

              %h3.fine.blue.center.lower
                Recipes Being Tested
                %hr
              -project.recipes.order("name").where("complete = ?", false).each do |recipe|
                -if recipe.users.present?
                  %a{:href=>edit_recipe_path(recipe)}
                    =recipe.name
                    ( Revision 
                    =recipe.last_promoted.version_number
                    )
                  -if recipe.draft.present?
                    %br
                    .orange
                      Revision
                      =recipe.draft.version_number
                      in Draft

                  .upper
                    %span
                      Testers:
                      -recipe.users.each do |tester|
                        -if tester.pending_approval(recipe.id)
                          %span  
                            %a.orange{:href=>"/recipes/approve?id="+recipe.id.to_s+"&tester="+tester.id.to_s}                     
                              =tester.name
                        -else
                          =tester.name
                  .upper
                    Total Comments:
                    =recipe.recipe_notes.count

                  %h6{:title=>"Overall Satisfaction"} 
                    -(1..5).each_with_index do |star, i|
                      -if recipe.average_overall_rating > i
                        %span.blue
                          %i.fi-star.make_again{"data-star-number"=>i+1}
                      -else
                        %span.grey
                          %i.fi-star.make_again{"data-star-number"=>i+1}    

                  
                  %p
                  %hr
            .small-12.large-6.column.whitewash
              %h3.fine.blue.center.lower
                Recipes That Need Testing
                %hr
              -project.recipes.order("name").each do |recipe|
                -if !recipe.users.present?

                  %a{:href=>edit_recipe_path(recipe), :class=>"#{ recipe.ready_to_test ? 'green' : ''}"}
                    =recipe.name
                    -if recipe.ready_to_test
                      %i.fi-check
                  %br
          %p 

    %p             

  %hr
-if current_user.tester?  
  .center
    %h2.fine.blue.lower
      Your Test List    
  .row
    .small-12.large-6.column.whitewash

      %h3.fine.blue.center.lower
        Currently Testing
        %hr
      -@user.recipes.order("name").each do |recipe|

        .row 
          .small-10.column
            %h6
              -if current_user.pending_approval(recipe.id)
                .small.upper.orange
                  Pending
              %a{:href=>recipe_path(recipe)}
                =recipe.name
              %br
          .small-2.column
            .text-right{:title=>"Don't have time to test? Remove it from your list."}
              %a.blue{:href=>"/recipes/unsubscribe?id="+recipe.id.to_s}
                %i.fi-x               
        .upper
          Revisions:
          =recipe.versions_available.count
        .upper
          Your Comments:
          =recipe.recipe_notes.where("user_id = ?", current_user).count
        .upper
          =recipe.project.name
          
          =recipe.user.name if recipe.user.present?
        %p
        %hr
    .small-12.large-6.column.whitewash
      %h3.fine.blue.center.lower
        Recipes Available For Testing
        %hr
      %h6
        -@all_available_recipes.each do |recipe|
          -if !current_user.currently_testing(recipe.id) && !current_user.black_listed(recipe)
            %a{:href=>"/recipes/preview?id="+recipe.id.to_s}
              = recipe.available_test_list_name
            %br
%p