.row.medium-uncollapse.large-collapse
  .small-12.columns.sheer.center{:style=>"position: absolute; left: 0px;  z-index: 999; width: 100%; height: 300px;  padding-top: 80px;"}

    %h1.strong
      recipe checkers

    %h3.lower.fine
      Making Recipes Better
      %p
    -if current_user.present?
      %a.button.white.upper{:href=>"users/dashboard"} 
        Start Testing     
    -else
      %a.button.white.upper{:href=>"users/sign_up"} 
        Start Testing 
.slide{:id=>"slide", :style=>"width: 100%;"}
  .item.active{:style=>"height: 300px;"}
    %img{:src => image_path("flours.jpg"), :alt => "", :width=>'100%'}
  .item{:style=>"height: 300px;"}
    %img{:src => image_path("doughs1.jpg"), :alt => "", :width=>'100%'}
  .item{:style=>"height: 300px;"}
    %img{:src => image_path("mixer2.jpg"), :alt => "", :width=>'100%'}


.gap{:style=>"height: 40px;"}

.about
  .row
    .small-12.large-6.columns
      %h4.lower.blue
        What is Recipe Checkers?
      .darkgrey.bigger
        %p
        As a cookbook author, I want my recipes to be as good as possible. That means not only countless hours in my own kitchen testing, but also enlisting the help of recipe testers in the community who want to help. 
        %p
        The trick comes in finding those testers and managing the feedback. A typical cookbook needs testers for somewhere between 50 & 100 recipes, with multiple testers on each recipe. This has typically been done via emails or word docs, making it  burdensome for both the testers entering the feedback and the author tring to incorporate the feedback to improve their work. 

        %p
        Recipe Checkers is the solution. 
        %p



    .small-12.large-6.columns
      %h4.lower.blue
        How to Recipe Checkers Works
      .darkgrey.bigger
        %p
        As a tester, you simply sign up for recipe testing, agreeing to the terms of the author. 
        %p
        Once approved, you'll see the recipe online, and it's easy to enter your feedback directly on the recipe. You can see what other tester's found with the same recipe. You can ask questions about the recipe as you go. You can even post a photo of your finished dish, so the author knows if it turned out as they expected it to. 

        %p
        For authors, just add your recipes and post them, and we'll let our testers know they are ready to go. Only those testers that you approve can see your recipe, so you don't have to worry about them showing up online. And, as your recipe testers make notes, you'll see all recipe feedback in one place, instead of having to parse together hundreds of emails. You can even rate the quality of the reviews.
 


  .row
    .small-12.large-6.columns
      %h4.lower.center


      .panel
        .columns.small-12.small-centered
          %ul.small-block-grid-3
    .small-12.large-6.columns
      %h4.lower.center

:javascript

    $(document).ready(function(){
      $('#slide').slick({
        autoplay: true
      });
    });
