%p
.row
  .small-12.large-8.small-centered.large-centered.column.whitewash{:style=>"min-height=>500px;"}
    %h4.center.blue.fine
      Don't want mail from us? 
    %hr
    We understand how much mail can be junk mail, and we try to never spam our users. However, to use our service, we really need to be able to send you email. So, if you want to unsubscribe, you can go to 
    %a{:href=>"/users/edit"}your user page and cancel your account. 
    %p
    We'll be sad to see you go!
    %br
    Recipe Checkers