%p
.row
  .small-12.large-8.small-centered.large-centered.column.whitewash

    %p
    .upper
      Edit a Project 
    #project_info
      =render :partial => 'form', locals: {project: @project}

    %hr
    .center

      %a.button#tester_message
        Send a message to your testers


.reveal{:id=>"message", "data-reveal"=>true}
  %h4.blue
    %textarea{:id=>"message_text", :name=>"message_text", :placeholder=>"Type your message here", :style=>"border: 0px solid white; box-shadow: inset 0 0px 0px rgba(51, 51, 51, 0.1); height: 300px;"}
    %a.button{:id=>"send_message"}Send Message

.reveal.tiny{:id=>"updating", "data-reveal"=>true}
  %h4.blue
    %i.fa.fa-cog.fa-spin
    Updating...

:javascript
  $('.edit_project').on("submit", function(e){
    $('#updating').foundation('open').delay( 400 );

  })

  $('#tester_message').on("click", function(){
    $('#message').foundation('open');
  });

  $('#send_message').on("click", function(){  

    
     $.ajax({
     type: "GET",
     dataType: 'text',
     url: "tester_message",
     data: {"message":$('#message_text').val(), "id":"#{@project.id}"} ,
     success: function(data,status,xhr) {
       console.log(status);

     }
    });
  });