%p
.row
  .small-12.large-8.small-centered.large-centered.column.whitewash

    %p
    .upper
      Edit a Project 
    #project_info
      =render :partial => 'form', locals: {project: @project}


    %a.button#tester_message
      Send message

.reveal.tiny{:id=>"updating", "data-reveal"=>true}
  %h4.blue
    %i.fa.fa-cog.fa-spin
    Updating...

:javascript
  $('.edit_project').on("submit", function(e){
    $('#updating').foundation('open').delay( 400 );

  })

  $('#tester_message').on("click", function(){
     $.ajax({
     type: "GET",
     dataType: 'text',
     url: "tester_message",
     success: function(data,status,xhr) {
       console.log(status);

     }
    });
  });