
$grey: rgb(233, 233, 233);
$darkgrey: #888888;
$white: #fff;
$red: #ed1c24;
$orange: #fdad00;
$yellow: #FFEFAE;
$green: #0cad5f;
$blue: #9DC1D2;
$indigo:#374070;
$violet:#837CA3;

$font-family-sans-serif: 'Josefin+Sans', sans-serif;
$font-family-serif: 'Sanchez', serif;

$sans-serif: 'Josefin+Sans', sans-serif;
$serif: 'Sanchez', serif;
$cursive: 'Calligraffitti', cursive;
$bodyfont-size: 10pt;


$black: #333333;
$light: rgba(255,255,255,.85);
$fine: 200;
$thick: 500;
$screen-sm-max: 1170px;
$screen-md-min: 1171px;
$grid-float-breakpoint: 1171px;
